@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Raleway&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

header {
    display: flex;
}

.name{
    font-family: 'Crimson Text', serif;
    display: flex;
    margin-right: 20px;
}

.top-p {
    font-family: 'Crimson Text', serif;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}

.top-h1{
    border: 2px solid black;
    margin-left: 20px;
    cursor: pointer;
    width: auto;
    padding: 10px;
}

.options {
    font-family: 'Crimson Text', serif;
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    cursor: pointer;
}

li {
    display: inline-block;
    margin-top: 28px;
    text-align: right;
    margin-left: 50px;
    cursor: pointer;
    font-weight: 900;
}

li:hover {
    color: red;
    transition: 0,4s;
}

.main-content {
    display: grid;
}

b {
    font-weight: 700;
    color:red;
    text-decoration: underline;
}

.head-shot {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: black;
}

.head-shot-img {
    width: auto;
    height: 200px;
    border: 5px solid rgb(68, 65, 65);
    border-radius: 200px;
    cursor: pointer;
}

.main-desc {
     cursor: pointer;
}


.Projects {
    display: flex;
    width: auto;
    height: 40em;
    margin-top: 50px;
}

.h1-projects {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgb(5, 5, 5);
    margin-left: 40px;
}

.about {
    display: inline-block;
    width: auto;
    height: 40em;
    margin-top: 10px;
}

.h1-about {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgb(5, 5, 5);
    margin-left: 40px;
}

.bottom-header {
    background-color: black;
    width: auto;
    height: 10em;
}

.abit {
    font-family: 'Crimson Text', serif;
    text-align: center;
    cursor: pointer;
}

.h1-about {
    cursor: pointer;
}

.h1-projects {
    cursor: pointer;
}

.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 300px);
    margin-top: 116px;
}

.card {
    width: 200px;
    height: auto;
    padding: 20px;
    background-color: black;
    color: wheat;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.card:hover {
    transition: 1.2s;
    border-radius: 15px;
    padding: 25px;
}

@media (max-width:1000px) and (min-width:375px) {
    .cards {
        display: flexbox;
        justify-content: center;
        grid-template-columns: repeat(1, 250px);
        padding-bottom: 100px;
        transition: 2s;
    }
}